/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";


/*#3D9F36 action green*/
/*#041423 college navy*/
/*@font-face {
	src: url("BankGothic.ttf");
	fontFamily: bg;
	fontStyle: normal;
	fontWeight: bold;
	advancedAntiAliasing: true;
}*/

s|ViewNavigatorApplication{
	fontFamily:Arial;
}

s|View{
	fontFamily:Arial;
	skinClass: ClassReference("skinClasses.HeadRefViewSkin")
}	


s|Button{
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#041423;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
}


s|TextInput{
	
}

s|Label{
	color:#EDB000
/*	color:#3D9F36;*/
}

.teamLabel{
	fontSize:16;
	
}

.scoreLabel{
	fontSize:28;
	
}

.pitchButtonLabel{
	fontSize:20;
	color:#000000;
	
}

.pitchCountLabel{
	fontSize:28;
	color:#000000;
}

.resultLabel{
	fontSize:34;
	color:#000000;
}

.ruleTypeLabel{
	fontSize:12;
			
}

.statusLabel{
	fontSize:24;
			
}

.undoLabel{
	fontSize:28;
		
}

.editTeamLabel{
	fontSize:16;
	
}

.newGameViewLabel{
	fontSize:18;
	
}

.editRulesLabel{
	fontSize:16;
	
}

.scoresLabel{
	fontSize:24;
	fontWeight:bold;
	color:#041423;
}

.timerLabel{
	fontSize:28;
	fontWeight:bold;
}

.timerMetaLabel{
	fontSize:10;
}
