/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";


/*#3D9F36 action green*/
/*#041423 college navy*/
@font-face {
	src: url("BankGothic.ttf");
	fontFamily: bg;
	fontStyle: normal;
	fontWeight: bold;
	advancedAntiAliasing: true;
}

s|ViewNavigatorApplication{
	fontFamily:bg;
	fontWeight:bold;
}

s|View{
	fontFamily:bg;
	skinClass: ClassReference("skinClasses.HeadRefViewSkin")
}	


s|Button{
	chromeColor:#575757;
	color:#E98300;
	fontFamily:bg;
}

s|ButtonBar{
	fontSize:10;
}

s|ButtonBarButton{

}

s|TextInput{
	
}

s|Label{
	color:#3D9F36;
}

.teamLabel{
	fontSize:16;
	
}

.scoreLabel{
	fontSize:28;
	
}

.pitchButtonLabel{
	fontSize:20;
	color:#000000;
	
}

.pitchCountLabel{
	fontSize:28;
	color:#000000;
}

.resultLabel{
	fontSize:34;
	color:#000000;
}

.ruleTypeLabel{
	fontSize:16;
			
}

.statusLabel{
	fontSize:28;
			
}

.undoLabel{
	fontSize:28;
		
}

.editTeamLabel{
	fontSize:16;
	
}

.newGameViewLabel{
	fontSize:12;
	
}

.editRulesLabel{
	fontSize:16;
	
}

.newRulesButton{
	chromeColor:#575757;
	color:#E98300;
}

.endGameButton{
	height:10px;
	chromeColor:#575757;
	color:#3D9F36;
	
}
